/Users/manar/Documents/GitHub/BikeShare_Python_Git_Project/chicago.csv
/Users/manar/Documents/GitHub/BikeShare_Python_Git_Project/new_york_city.csv
/Users/manar/Documents/GitHub/BikeShare_Python_Git_Project/washington.csv
/new_york_city.csv
/chicago.csv
/washington.csv